<div id="messageView" ng-controller="msgCtrl">
	<div class="composeDescrib"><label>Title:</label><input id="msgtitle" type="text" name="title" ng-disabled="true"></div>
	<div class="composeDescrib"><label>Sender:</label><input id="sender" type="text" name="name" ng-disabled="true"></div>
	<div class="composeDescrib"><label class='contentLabel'>Content:</label><textarea id="content" rows="10" ng-disabled="true"></textarea></div>
    <div class="btnMargin"><button ng-click="goback()">Cancel</button></div>
</div>